/*合同签署*/
.container{
    position:relative;
    width:100%;
    min-height:100%;
}

.picture-list{
    width: 100%;
   height: 100%;
    padding-bottom: 70px;
}
.picture-list ul{

}
.picture-list ul li{
    width: 100%;
    height: 100%;
}

.picture-list ul li img{
   width: 100%;
    height: 100%;
}
.sign-operation{
    position:fixed;
    bottom: 5px;
    height: 70px;
    background: transparent;
    width: 100%;
}
.sign-operation div{
    display: inline-block;

}
.sign-operation div a{
    display: inline-block;
    width: 60px;
    height:60px;
    font-size: 10px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
}
.quit-sign a{
    border: 1px solid #036eb8;
    color: #036eb8;

}
.sign-here a{
    background: #036eb8;
    color: #fff;
    border-radius: 50%;
}
.quit-sign {
  margin-left: 5px;

}
.sign-here{

   margin-right: 5px;

}

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);

    overflow-x: hidden;
    overflow-y: auto;
}
.modal-box{
    width: 80%;
    background-color: #fff;
    margin: 10%;
    border-radius: 5px;
}
.modal-header{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header h3{
 text-align: left;
}
.modal-body{}
.modal-footer{padding: 15px;min-height: 60px;}
.modal-footer a{padding: 6px 12px;display: inline-block;line-height:1.42857143;border-radius: 4px;}
.sure{background-color: #036eb8;color: #fff;float: right;}
.dismiss{border:1px solid #ddd;color: #ddd;float:left;}


